@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The LDS Movie List</h1>
    <img src="~/images/movies/Witnesses.jpg" style="
    width: 30%;
    height: auto;" />
</div>