html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
  overflow: auto;
}

footer {
    padding: 10px;
}

.table {
    margin-bottom: 50px;
}

.note-width {
    width: 40%;
}

.validation-summary-errors ul {
    color: red;
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.field-validation-error {
    color: red;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}
.carousel-inner > .item > img {
    margin: auto;
}